.btn {
    text-transform: uppercase;
    color: var(--white) !important;
    font-size: 1.125rem;
    padding: 20px 80px;
    /* position: relative; */
}
.btn::after {
    content: "\f061";
    font-family: "FontAwesome";
    margin-left: 15px;
    /* display: none;
    position: absolute; */
}
.btn:hover {
    opacity: 0.8;
}

.btn-orange {
    background-color: var(--orange);
    box-shadow: 0px 3px var(--orange-deep);
}
.btn-green {
    background-color: var(--green);
    box-shadow: 0px 3px var(--green-deep);
}
.btn-sky {
    background-color: var(--sky);
    box-shadow: 0px 3px var(--sky-deep);
}