.block-120 {
    width: 100%;
    height: 7.5rem; /*120 px*/
}

.block-110 {
    width: 100%;
    height: 6.75rem; /*108 px*/
}

.jumbotron {
    border-radius: 0 !important;
}

.btn-orange {
    text-transform: uppercase;
    background-color: var(--orange);
    box-shadow: 0px 3px var(--orange-deep);
}