.nav-item:hover .nav-link {
    color: var(--white);
    background-color: var(--black-o);
    border-radius: 0.25rem;
}


.nav-link {
    font-size: 1.125rem;
    text-transform: uppercase;
}

.nav-pills .nav-link {
    font-size: 1rem;
    background-color: var(--yollow-dark);
}

.nav-pills .nav-link:hover {
    background-color: var(--white);
}
.nav-pills .nav-link:active {
    background-color: var(--white) !important;
}