.navbar-nav {
    padding: 40px 0;
}
.nav-link {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0;
    margin-right: 15px;
}
.nav-item:hover .nav-link,
.nav-link:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0.25rem;
}
.navbar-toggler i {
    color: #fff;
    padding: 2px 6px;
    border: 1px solid #fff;
    border-radius: 5px;
}


