#services {
    background:linear-gradient(rgba(7, 114, 82, 0.7), rgba(7, 114, 82, 0.7)), url(../../img/bg/bg-2.jpg);
    height: 100%;
    width: 100%;
}
.card-deck {
    margin: 0 auto;
}
.card .icon {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
}
#services.icon img {
    width: 100%;
    height:100%;
    border-radius: 100%;
}
.card-body {
    padding: 0 10px;
}
.card {
    min-width: 260px !important;
    background-color: transparent;
    padding: 3.125rem 0;
    border: none;
    transition: 0.5s;
}
#services .card {
    height: 25rem;
    color: #fff;
}
#services .card:hover {
    background-color: rgba(225, 225, 225, 0.125);
    box-shadow: 0 0 25px var(--green-deep);
}